:root {
	--title-color: #212121;
	--paragraph-color: #757575 ;
	--button-COLOR:#2196F3;
  }

  /*HEADER*/
.logo-header{
	color: #212121;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.logo-web{
	color: #2196F3;
}
ul {
    list-style: none;
    }
.nav-head{
	color: var(--title-color);
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
   
    text-decoration:none ;
    
}
.nav-head:hover,
.nav-head:focus {
	color: #2196F3;
}
.nav-contact{
    color: var(--paragraph-color);
}
.nav-contact:hover,
.nav-contact:focus{
    color: #2196F3;
}


body{ 
	font-family: 'Roboto', sans-serif;
	color: var(--paragraph-color);
	font-weight: 400;
	font-size: 14px;
	/*line-height: 1.71;*/
	letter-spacing: 0.03em;
}
.hero{
	background: #2F303A;
}
.hero-title{
	color: #FFFFFF;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.hero button{
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
	background:var(--button-COLOR) ;
	color: #FFFFFF;
	text-align: center;
    padding: 10px 32px;
    }
.hidden{
    visibility:hidden;
}
.submenu-titel{
    color: var(--title-color);
    text-transform:uppercase;
    font-size: 14px;
    line-height: 1.14;
}
.basic-title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}
.team{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team-title{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.filter-button{
    font-family:Roboto;
    background:  #F5F4FA;
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border: 0;
    
}
.filter-button:hover,
.filter-button:focus{
    background: var(--button-COLOR);
    color: #FFFFFF;
}
.catalog{
    text-decoration: none;
    }
.catalog-title{
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }

.catalog-type{
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em; 
}
footer{
    background: #2F303A;
   
}
.logo-footer{
    color: #FFFFFF;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.nav-footer{
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.nav-footer:hover,
.nav-footer:focus{
   color: #2196F3;
}
.nav-footer-city{
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}
.nav-footer-city:hover,
.nav-footer-city:focus{
    color: #2196F3;
}


    